header {
  margin: 1.5625rem 0 3.875rem;
   
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-app {
  height: 100vh;

  display: flex;
  flex-direction: column;

  & .icone-voltar {
    width: 3.5625rem;
    height: 1rem;

    margin-bottom: 1rem;
  }

  h1 {
    font: var(--title);
    color: var(--content-primary);

    margin-bottom: 2.75rem;
  }
}

form {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  margin-bottom: 2.5rem;

  & input {
    width: 28.1875rem;
    height: 2.75rem;

    background-color: var(--background-secondary);

    border: .125rem solid var(--border-primary);
    border-radius: .75rem;

    padding: .6875rem 1.125rem;
    
    &::placeholder {
      font: var(--paragraph);
      color: var(--content-tertiary)
    }

    &:hover {
       border: .125rem solid var(--border-hover);
       transition: 0.3s;
    }

    &:focus {
      outline: none;
      border: .125rem solid var(--color-brand);

      color: var(--content-primary);
    }

  }

  button {
    width: 10rem;
    height: 2.75rem;

    background-color: var(--color-brand);

    border: none;
    border-radius: .75rem;

   font: var(--label);
   color: var(--always-white);
    
    &:hover {
      background-color: var(--color-brand-hover);
      transition: 0.3s;
    }
  }
}

li {
  list-style: none;
  height: 3.0625rem;

  background-color: var(--background-secondary);
  border-radius: .75rem;

  padding: .5rem .75rem;
  margin-bottom: .75rem;

  display: flex;
  align-items: center;
  gap: .75rem;

  position: relative;

  & [type="checkbox"] {
    position: absolute;
    width: 1rem;
    height: 1rem;
    opacity: 0;

    cursor: pointer;
  }

  .checkbox-image {
    height: 1rem;
    width: 1rem;
    position: relative;
   background-image: url(../assets/checkbox-default.svg);
  }

  &:hover, &:focus-within {
    .checkbox-image {
      background-image: url(../assets/checkbox-hover.svg);
    }
  }

  &:has(:checked) .checkbox-image {
    background-image: url(../assets/checkbox-selected.svg);
  }

  span {
    width: 85%;
    font: var(--paragraph);
    color: var(--content-secondary);

    &.completed {
      text-decoration: line-through;
      opacity: 0.7;
    }
  }

  .deletar {
    margin-left: .75rem;
    cursor: pointer;
  }
}

@media (max-width:48rem)  {
  header {
    display: none;
  }

  .container-app {
    width: 20.4375rem;
    margin-top: 4.875rem;
    padding: 0 2rem 0;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    & input {
      width: 20.375rem;
    }

    & button {
      width: 20.375rem;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & li {
      width: 20.4375rem;
    }
  }
}
